body {
    
}
#MainGraphic {
    margin: 30px;
}

.Title {
  float: right;
    margin: 10px;
}
#ProvisionalCosts {
    float: right;
    
    border: 1px solid sandybrown;
    -moz-border-radius:  2px;
    border-radius: 5px;
    width: 300px;
    height: 150px;
    text-align: center;

}

#costControls {
    
    margin: 30px;
    border: 1px solid sandybrown;
    -moz-border-radius:  2px;
    border-radius: 5px;
    height: 150px;
    text-align: center;
    left: 400px;
    
}