body {
    background: url("Images/back5.JPG");
    background-repeat: no-repeat;
   background-size: 1400px 650px;
}
/*.quoteLabels {
    margin-left: 100px;
    top: 30%;
    bottom: auto;
    width: 300px;
    position: fixed;
}*/
